/*geral*/
body {
    background-color: #000000;
}

/*cabeçalho*/
#cabecalho {
    height: 100px;
    width: 1350px;
    background-color: #353030;
    margin: auto;
    padding: 0px;
}

.menu1 {
    list-style:none;
    margin:0;
    padding:0;
    float:right;
}
.menu1 li {
    display:inline-block;
    position:relative;
}

.menu1 li a {
    text-decoration:none;
    text-transform:uppercase;
    padding:5px 10px;
    border-radius:5px;
    color:#000000;
}

.menu1 li a:hover {
    background:#E85846;
    color:#FFFFFF;
}

/*base*/


/*rodapé*/
#rodape {
    height: 100px;
    width: 1350px;
    background-color: #353030;
    margin: auto;
    padding: 0px;
}
